.section__title__color__red {
    color:red;
}

.section__title__color__orange {
    color:orange;
}

.section__title__color__yellow {
    color:yellow;
}

.section__title__color__green {
    color:green;
}

.section__title__color__indigo {
    color:indigo;
}

.section__title__color__violet {
    color:violet;
}