.section__form__button {
    padding: 5px;
    color: green;
    background: white;
    border: solid 1px red;
    transition: 1s;
}

.section__form__button:hover {
    color: red;
    background: white;
    border: solid 1px green; 
}

.section__form__button:active {
    background: teal;
}