.section__form__button {
    padding: 10px;
    color: green;
    background: white;
    border: solid 1px red;
    transition: 1s;
}

.section__form__button:hover {
    color: red;
    background: white;
    border: solid 1px green; 
}

.section__form__button:active {
    transform: scale(1.5) rotate(360deg);
   
}